# OS/editor
.DS_Store
*.swp
*.swo
.vscode/
.idea/
CLAUDE.md

# Python
__pycache__/
*.pyc
.venv/
.env

# Notebooks
.ipynb_checkpoints/

# Data
data/*
OLD/*
out/*

# replication 
replication
chunks/*
chunks_outer/*